<section id="intro">
  <div class="container">
    <div class="row">
      <h2 class="text-center py-5">Browse our cars!</h2>
    </div>
  </div>
</section>

<section id="cars" class="bg-light">
  <div class="container">
    <div class="row">
      <ul>
        {{#each cars}}
        <li>{{ this.make }} {{ this.model }}</li>
        {{/each}}
      </ul> 
    </div>
  </div>
</section>