<div class="container">
    <div class="row">
    
        <ul class="userlist">
        {{#each users}}
            <li class="list-group-item">{{this.username}}
                <a class="btn btn-warning" href="/users/{{_id}}/edit-profile" style="display: inline-block;">Edit</a>
                <form action="/users/{{_id}}/delete" method="POST" style="display: inline-block;"> 
                    <button class="btn btn-danger">Delete</button>
                </form>
            </li>
        {{/each}}
        </ul>

    </div>
</div>