<div class="container bg-light p-5">
    <div class="row">

    <h2>User Profile</h2>

    {{#if userInSession}}
        <h4>Welcome, {{ userInSession.username }}!</h4>
        <p><a class="btn btn-lg btn-warning" href="/users/{{userInSession._id}}/edit-profile">Edit my profile</a></p>
    {{else}}
        <p>Please log in.</p>
    {{/if}}

    </div>
</div>