<h2>Create a new car</h2>
<div class="container bg-light p-5">
  <div class="row">

<form action="/cars/create" method="POST" enctype="multipart/form-data">

  <label for="make">Make</label>
  <input type="text" class="form-control" name="make" id="make" placeholder="e.g. Volkswagen">
    
  <label for="model">Model</label>
  <input type="text" class="form-control" name="model" id="model" placeholder="e.g. Sirocco">

  <label for="yearOfProd">Year of production</label>
  <input type="number" class="form-control" name="yearOfProd" id="yearOfProd" placeholder="e.g. 2008">

  <label for="engine">Engine</label>
  <input type="text" class="form-control" name="engine" id="engine" placeholder="e.g. 1600 ccm3">

  <label for="transmission">Transmission</label>
  <input type="text" class="form-control" name="transmission" id="transmission" placeholder="e.g. Manual">

  <label for="fuel">Fuel</label>
  <input type="text" class="form-control" name="fuel" id="fuel" placeholder="e.g. Diesel">

  <label for="extras">Extras</label>
  <input type="text" class="form-control" name="extras" id="extras" placeholder="e.g. Navigation">

  <label for="rentalCost">Rental Cost</label>
  <input type="number" class="form-control" name="rentalCost" id="rentalCost" placeholder="e.g. 250$">

  <label for="status">Car Status</label>
  <input type="text" class="form-control" name="status" id="status" placeholder="e.g. Free">

  <label for="startDate">Start Date</label>
  <input type="date" class="form-control" name="startDate" id="startDate" placeholder="e.g. 2022.02.08">

  <label for="endDate">End Date</label>
  <input type="date" class="form-control" name="endDate" id="endDate" placeholder="e.g. 2022.02.10">
  
  <input type="file" name="car-cover-image"/>

      <button class="btn btn-success my-4" type="submit">Create</button>
    </form>

  </div>
</div> 
